@media screen and (max-width: 320px)

  header
    font-size 0.6667em

  #theme
    display none

  #editor
    left 0px !important

  .ace_editor .ace_gutter
    width 22px !important
    font-size 9px !important

  .ace_gutter-layer .ace_gutter-cell
    padding-right 1px !important


  nav
    padding 2px 2px 2px 2px !important

/* Add some custom 320 stuff here */
