@media screen and (max-width: 320px)

  header
    font-size 0.6667em

  #theme
    display none

  #editor
    left 0px

  .ace-clouds-midnight .ace_gutter
    width 25px
    
/* Add some custom 320 stuff here */
