@media screen and (min-width: 321px) and (max-width: 480px)

  header
    font-size 0.6667em

  #theme
    display none

  #editor
    left 0px !important

  .ace_editor .ace_gutter
    width 26px !important
    font-size 10px !important

  .ace_gutter-layer .ace_gutter-cell
    padding-right 2px !important


  nav
    padding 4px 6px 4px 6px !important

/* Add some custom 480 stuff here */
