@media screen and (max-width: 640px)

  header
    font-size 0.75em

  #theme
    display none

  #editor
    left 0px

  .ace-clouds-midnight .ace_gutter
    width 35px
/* Add some custom 640 stuff here */
